/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    background-color:#000;
    color:#fff;
    text-decoration: none;
    padding: 11px 13px;
    display: inline-block;
    margin-top:15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}
.btn:hover{
    background-color:#ccc;
    color:#000;
}

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.row{
    margin-left:-8px;
    margin-right: -8px;
}

.row::after{
    content:"";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

html{
    scroll-behavior: smooth;
    font-family: Lato, "Helvetica Neue";
    /* hành vi khi cuộn */
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    /* khi con nó lòi ra khỏi cha thì sẽ bị ẩn đi */
    /* overflow:hidden; */
}

#nav{
    display: inline-block;
}
#header .mobile-menu-btn{
    position:absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    color: white;
    line-height:46px;
    padding: 0 20px;
    height: 46px;
    /* thay đổi hình dạng của trỏ chuột */
    cursor: pointer;
}

#header .search-btn:hover{
    background-color:#f44336;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
    color: #000;
}

#nav, .subnav{
    list-style: none;
}

#nav > li {
    display: inline-block;
   }

#nav li {
 position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    /* color: #fff; */
    line-height: 46px;
    padding: 0 24px;
    /* display:inline-block; */

    display: block;
    height: 46px;
}

#nav > li:hover > a{
    color: black;
    background-color:#ccc;
}

#nav .subnav {
    display: none;
    /* phụ thuộc vào cha gần nhất */
    position: absolute;
    /* top: 46; */
    top: 100%;
    left: 0;
    background-color:#fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
    color: black;
    padding-left: 16px;
    line-height: 38px;
    height: 38px;
    min-width: 160px;
}

#nav .subnav li:hover {
    color: black;
    background-color:#ccc;
}



#slider {
    margin-top:46px;
    padding-top: 50%;
    background-image: url(https://www.w3schools.com/w3images/chicago.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top center; */
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    /* left: 50%; */
    /* lùi lại 50% */
    /* transform: translateX(-50%); */
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-description{
    font-size: 15px;
    font-weight: bold;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 0px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size:30px;
    text-align: center;
    font-weight:500;
    letter-spacing:4px;

}
#content .section-sub-heading{
    font-size:15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 32px;
    margin-bottom: 32px;
    /* sửa vấn đề float */
    /* overflow: hidden; */
}
#content .member-name{
    font-size: 15px;
}
#content .text-center {
    text-align: center;
}
#content .member-img{
    margin-top:15px;
    width:154px;
    border-radius: 4px;
}

.tour-section {
    background-color: black;
}

.ticket-list{
    background-color:#fff;
    margin-top:40px;
}
.ticket-list li{
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.ticket-list .sold-out{
 background-color:red;
 color:white;
 padding:3px 4px;
 margin-left: 16px;
}
.ticket-list .quantity{
    float:right;
    width:24px;
    height:24px;
    background-color: #000;
    color:#fff;
    border-radius: 50%;
    text-align: center;
    line-height:24px;
    margin-top: -3px;
}
.places-list{
    margin-top:16px;
    /* margin-left: -8px;
    margin-right: -8px; */
    margin-bottom: 47px;
}

.place-img{
    width:100%;
    display:block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-heading{
    font-size: 15px;
}
.place-body{
    background-color:#fff;
    padding: 16px;
    font-size: 15px;
}
.place-time{
 margin-top:15px;
 opacity: 0.6;
}
.place-description{
    margin-top:15px;
    line-height:1.4;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    /* display: flex; */
    /* cho nằm giữa chiều dọc của cha */
    align-items: center;
    /* cho nằm giữa chiều ngang của cha */
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}

.modal-container{
    background-color:#fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 6px;
}
.modal-header i{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right:0;
    color:#fff;
    padding:16px;
    cursor: pointer;
}
.modal-close:hover{
    color:#000;
    background-color:#ccc;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-body{
    padding:16px;
}
.modal-input{
    border: 1px solid #ccc;
    width:100%;
    font-size:15px;
    padding:11px;
    margin-bottom:24px;
}
#buy-tickets{
    width:100%;
    background-color: #009688;
    border: none;
    color: #fff;
    font-size:15px;
    padding:18px;
    cursor: pointer;
}
#buy-tickets:hover{
    color: #000;
    background-color: #ccc;
}
.modal-footer{
    padding:16px;
    text-align: right;
    margin-bottom: 15px;
}

/* tạo ra chuyển động liên tiếp hình ảnh tĩnh, tạo hoạt họa, tạo chuyển động mượt */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* contact */
.contact-content{
    margin-top: 48px;
    margin-bottom: 47px;
}
.contact-info{
    font-size: 18px;
    line-height:1.4;
}
.contact-info p i{
    display: inline-block;
    width:30px;
}
.contact-form{
    font-size:15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.pull-right{
    float: right !important;
}
.map-section img{
    width: 100%;
}
/* footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}
.socials-list i{
    font-size:24px;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
.socials-list i:hover{
    color: rgba(0,0,0,0.3);
}
.copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
.copyright a{
    color: rgba(0,0,0,0.6);
}

/* mobile */
@media (max-width: 739px){
    #nav{
        display: block;
    }
    #nav .subnav{
        /* mặc địnhư */
        position: initial;
    }
    #nav .subnav a{
        padding: 5px 41px;
    }
    #nav>li{
        display: block;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #header{
        overflow: hidden;
    }
    #header .search-btn{
        display:none;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    /* #content .member-item{
        margin-top: 30px;
        width: 100%;
    } */
    #content .member-img{
        width: 60%;
    }
    .s-full-width,
    .s-col-full{
        width: 100%;
    }
    .contact-form{
        margin-top:16px;
    }
    .s-mt-8{
        margin-top:8px;
    }
    
}
